################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiAuth/obj/Debug
/WebApiAuth/bin
/.vs
/packages
